@font-face {
    font-family: sora;
    src: url(../fonts/Sora-VariableFont_wght.ttf);
}

.nomes * {
    font-family: sora;
}

.nomes > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.nomes > ul > li {
    font-size: 15px;
    list-style-type: none;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    font-weight: 200;
}