@font-face {
    font-family: sora;
    src: url(../fonts/Sora-VariableFont_wght.ttf);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;
    border-radius: 20px;
    font-family: sora;
    overflow: hidden;
    margin: 100px auto;
}

.profile > img {
    width: 100%;
}

.profile > .nome {
    font-weight: 800;
}

.profile > .bio {
    margin-bottom: 30px;
    font-size: 11px;
    width: 70%;
}